@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400&display=swap");

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  box-sizing: border-box;
  background: linear-gradient(
    90deg,
    #dfdfdb 6%,
    #c2c1c1 25%,
    #adadad 45%,
    #bbbaba 55%,
    rgba(255, 186, 0, 0.07) 150%
  );
}

img {
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

.resume {
  margin: 4rem auto;
  padding: 2rem 15px;
  max-width: 900px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.avatar-container {
  position: relative;
}

.avatar {
  position: absolute;
  width: 100px;
  top: -4rem;
  right: 0;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
}

.intro > * {
  padding: 0.3rem 0;
}

.intro .intro_title,
.title {
  color: #f75d5d;
  font-size: 1.5rem;
  font-weight: normal;
}
.intro .intro_sub {
  font-size: 1.2rem;
}

.info {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}

.info .list,
.list1 {
  list-style-type: square;
  padding: 0 15px;
}

.info .list li,
.list1 li {
  padding: 0.2rem 0;
}

.info .list:nth-child(2) {
  margin: 0 4rem;
}

@media screen and (max-width: 600px) {
  .socials {
    flex-direction: column;
    align-items: flex-start;
  }

  .info .list:nth-child(2) {
    margin: 0 2rem;
  }

  .socials .list:nth-child(2) {
    margin: 0;
  }

  .resume {
    margin: 2rem 1rem;
  }
}

@media screen and (max-width: 1024px) {
    .resume {
        margin: 2rem 1rem;
      }
}

.data .blur {
  color: gray;
  margin: 0.4rem 0;
  font-style: italic;
}

.data .image {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.data .image img {
  width: 32px;
  margin: 0.2rem;
}

.project {
  font-weight: normal;
  margin: 0.3rem 0;
}
